* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Darker Grotesque', sans-serif;
}
body{
    background-color: #3D4C6C;
    color: #F5E6CA;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5E6CA;
    padding-left: 20px;
    padding-right: 20px;
    height: 8vh;
    z-index: 1;
}
.header{
    width: 100%;
    position: fixed;        
    overflow: hidden;
    top: 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: cent
}
.logo{
    font-family: 'Amarante', serif;
    color: #3D4C6C;
    text-decoration: none;
    letter-spacing: 10px;
    font-size: 40px;
    margin-right: 10px;
}
input[name="search"]{
    width: 218px;
    border: 2px solid #3D4C6C;
    border-radius: 25px;
    background-color: #F8EFEF;
    padding: 8px 20px;
    margin: 8px 0;
}
.nav_links a {
    font-family: 'Amarante', serif;
    color: #3D4C6C;
    text-decoration: none;
}
.nav_links {
    list-style: none;
    display: flex;
    font-size: 26px;
}
.nav_links li {
    padding: 5px 20px;
}

/* CONTENTS */
.login{
  /* min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; */
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box{
  width: 450px;
  height: 400px;
  background-color: #F8EFEF;
  border-radius: 10px;
}
.box .box-contents{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
input[name="username/email"],input[name="password"]{
  width: 365px;
  height: 45px;
  font-size: 20px;
  border: 2px solid #3D4C6C;
  border-radius: 30px;
  padding: 8px 10px 10px 10px;
  margin: 8px 0;
}
.login-button{
  width: 365px;
  height: 45px;
  border-radius: 30px;
  background-color: #CFA180;
  border: 2px solid #3D4C6C;
  border-color: #3D4C6C;
  margin-top: 5px;
  color: #F8EFEF;
  font-weight: bolder;
  font-size: 20px;
}
.forgot{
  text-decoration: none;
  color: #643615;
  margin-top: 10px;
}
hr.solid{
  width: 300px;
  margin-top: 20px;
  border-top: 2px solid #3D4C6C;
}
.create-button{
  width: 365px;
  height: 75px;
  border-radius: 30px;
  background-color: #CFA180;
  border: 2px solid #3D4C6C;
  border-color: #3D4C6C;
  margin-top: 5px;
  color: #F8EFEF;
  font-weight: bolder;
  font-size: 20px;
}
.quote{
  margin-right: 115px;
}
.quote h1{
  font-family: 'Amarante', serif;
  font-size: 128px;
  font-weight: 300;
}
.quote p{
  font-size: 16px;
}