* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Darker Grotesque', sans-serif;
}
body{
    background-color: #3D4C6C;
    color: #F5E6CA;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5E6CA;
    padding-left: 20px;
    padding-right: 20px;
    height: 8vh;
    z-index: 1;
}
.header{
    width: 100%;
    position: fixed;        
    overflow: hidden;
    top: 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: cent
}
.logo{
    font-family: 'Amarante', serif;
    color: #3D4C6C;
    text-decoration: none;
    letter-spacing: 10px;
    font-size: 40px;
    margin-right: 10px;
}
input[type=text]{
    width: 218px;
    border: 2px solid #3D4C6C;
    border-radius: 25px;
    background-color: #F8EFEF;
    padding: 8px 20px;
    margin: 8px 0;
}
.nav_links a {
    font-family: 'Amarante', serif;
    color: #3D4C6C;
    text-decoration: none;
}
.nav_links {
    list-style: none;
    display: flex;
    font-size: 26px;
}
.nav_links li {
    padding: 5px 20px;
}
.login{
    background-color: #CFA180;
    color: #F5E6CA;
    text-decoration: none;
    font-family: 'Amarante', serif;
    font-size: 26px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

/* LANDING PAGE */
.landing{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.landing-content{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.quote{
    margin-bottom: 75px;
}
.quote h1{
    font-family: 'Amarante', serif;
    font-size: 128px;
    font-weight: 300;
}
.quote p{
    font-size: 16px;
}
.register h4{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 12px;
}
.register a.login-redirect{
    text-decoration: none;
    color: #F5E6CA;
    font-weight: bold;
}
.register p{
    font-size: 16px;
    margin-top: 10px;
}
.button{
    font-family: 'Amarante', serif;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #F5E6CA;
    background-color: #F5E6CA;
    color: #3D4C6C;
    border-radius: 35px;
    padding: 5px 15px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

/* BUYER HOME */
.home{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home h4{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 12px;
}
.contents{
    background-color: #F5E6CA;
    height: 150px;
    border-radius: 15px;
    color: #3D4C6C;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.upcoming{
    display: flex;
}
.dop, .eta, .payments{
    padding: 25px;
    padding-right: 65px;
}